body {
  background: #fff;
  font-family: helvetica, sans-serif;
  text-align: center;
}

button {
  background-color: #e6e6e6;
  border: 2px solid #000;
  color: #000;
  margin: 0 8px;
  padding: 10px 14px;
}